
@font-face {
    font-family: Norse;
    src: url(./font/Norse-Bold.otf);
}

.page-wrapper {
    display: flex;
    background-color: rgb(241, 240, 237);
}

a:link {
    color: white;
}

/* Left panel styling */
.left-pane {
    background-image: url(./imgs/halie-west-25xggax4bSA-unsplash.jpg);
    height: 100vh;
    width: auto;
    backdrop-filter: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.odin-box {
    display: flex;
    font-family: Norse;
    font-size: 50px;
    background-color: black;
    opacity: 0.7;
    width: 40vw;
    color: antiquewhite;
    justify-content: center;
    transform: translateY(100px);
    padding: 10px;
}

.left-pane-footer {
    color: antiquewhite;
    margin-top: auto;
}

/* Right panel styling */

.right-pane {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-pane-top-message {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    background-color: whitesmoke;
   
}

/* Right form styling */

.form-unit {
    display: block;
    text-align: left;
}

.form-row {
    display: flex;
    padding: 15px;
    gap: 35px;
    
}
label,input {
    display: flex;
    flex-direction: column;
}

label {
    font-size: smaller;
}

/* Right submit container */

